

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    /*background-color: #132651;*/
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

b {
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* =========================================================== */


:root {
    --main-color: #DC3421;
    font-size: 1.3vh;
}

input[type=range] {
    -webkit-appearance: none;
    margin: .625rem 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .4375rem;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0rem 0rem 0rem #000000;
    background: #1d1d1d;
    border-radius: 0rem;
    border: 0rem solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0rem 0rem 1.25rem #CE2B2B;
    border: 0rem solid #ffffff00;
    height: .4375rem;
    width: 1.5rem;
    border-radius: 1.9375rem;
    background: #CE2B2B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1d1d1d;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: .4375rem;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0rem 0rem 0rem #000000;
    background: #1d1d1d;
    border-radius: 0rem;
    border: 0rem solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0rem 0rem .0625rem #ffffff00;
    border: 0rem solid #ffffff00;
    height: .4375rem;
    width: 1.5rem;
    border-radius: 1.9375rem;
    background: #CE2B2B;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: .4375rem;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #1d1d1d;
    border: 0rem solid #000000;
    border-radius: 0rem;
    box-shadow: 0rem 0rem 0rem #000000;
}

input[type=range]::-ms-fill-upper {
    background: #1d1d1d;
    border: 0rem solid #000000;
    border-radius: 0rem;
    box-shadow: 0rem 0rem 0rem #000000;
}

input[type=range]::-ms-thumb {
    box-shadow: 0rem 0rem .0625rem #ffffff00;
    border: 0rem solid #ffffff00;
    height: .4375rem;
    width: 1.5rem;
    border-radius: 1.9375rem;
    background: #CE2B2B;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #1d1d1d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #1d1d1d;
}

#actionmenuBarberShop {
    width: 100vw;
    height: 100vh;
    margin-left: 2rem;
}

#actionmenuBarberShop .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2.5rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#actionmenuBarberShop .container .select {
    max-height: 58.5rem;
    overflow-y: scroll;
}

#actionmenuBarberShop .menu-container:last-child {
    margin-bottom: 0rem !important;
}

#actionmenuBarberShop .menu-container {
    width: 20rem;
    height: 6.875rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://cdn.discordapp.com/attachments/893276914851147826/992231127865622598/menu-background.png');
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1.25rem;
    margin-bottom: 1.875rem;
    filter: grayscale(1);
    transition: all .5s;
}

#actionmenuBarberShop .menu-icon {
    height: 125%;
    width: 7.5rem;
    background-image: url('./assets/coat.png');
    bottom: 15%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#actionmenuBarberShop .container-select-right {
    width: 33.875rem;
    height: 60rem;
    background-image: url('https://media.discordapp.net/attachments/904876261661351977/995597540768632852/BACKGROUND.png?width=396&height=683');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2.5rem;
    display: grid;
    grid-template-rows: 40px 1fr 11.25rem;
    gap: 1.25rem;
    padding: 2.5rem;
}

#actionmenuBarberShop .barber-image,
#actionmenuBarberShop .texture-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}

#actionmenuBarberShop .barber-unit {
    min-height: 4.5625rem;
    border-radius: .625rem;
    padding: .3rem;
    position: relative;
    border: solid .125rem transparent;
    transition: all .3s;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#actionmenuBarberShop .selected-barber {
    border: solid .125rem var(--main-color);
}

#actionmenuBarberShop .barber-index {
    color: white !important;
    font-size: .875rem;
    position: absolute;
    margin-left: .5rem;
    margin-top: .5rem;
    font-weight: 600;
}

#actionmenuBarberShop .select-itens-barber {
    height: 93%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 6.375rem);
    grid-template-rows: repeat(auto-fill, 5.3125rem);
    gap: 0.625rem;
    overflow-y: scroll;
}

#actionmenuBarberShop .button {
    height: 1.875rem;
    width: 100%;
    border-radius: .5rem;
    background: #464545;
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    font-weight: 900;
    color: #2B2B2B;
}

#actionmenuBarberShop .button:last-child {
    margin-bottom: 0rem;
}

#actionmenuBarberShop .red-bttn {
    box-shadow: 0rem 0rem 1.875rem var(--main-color);
    background: var(--main-color);
    color: white;
}

/* -------------------------------------------- */

#actionmenuBarberShop .cameras-container {
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
}

/* -------------------------------------------- */

#actionmenuBarberShop .cameras-buttons-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: .625rem;
}

#actionmenuBarberShop .camera-button {
    width: 100%;
    height: 5rem;
    background: #2F2F2F;
    border-radius: .5rem;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

/* ---------------------------------------------- */

#actionmenuBarberShop .rotate-container {
    width: 100%;
    margin-top: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#actionmenuBarberShop .rotate-container p {
    font-size: 0.6rem;
    color: #ffffff28;
    letter-spacing: .15rem;
    /* width: 100%; */
}

#actionmenuBarberShop .buttonsContainer {
    height: 97%;
    width: 94.5%;
    background: #272727;
    border-radius: 1.25rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 9.375rem 1fr;
    grid-gap: 1.25rem;
    position: relative;
    bottom: 1rem;
}

#actionmenuBarberShop .textures {
    width: 6.375rem;
    height: 57.125rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 1.25rem;
}


#actionmenuBarberShop ::-webkit-scrollbar {
    width: 0rem !important;
}

#actionmenuBarberShop .texture-unit {
    min-height: 4.5625rem;
    max-height: 4.5625rem;
    width: 93%;
    height: 100%;
    border-radius: .8rem;
    padding: .5rem;
    /* border: solid .125rem transparent; */
    transition: all .3s;
    margin-bottom: 0.125rem;
}

#actionmenuBarberShop .selected-texture {
    border: solid .125rem var(--main-color);
}

#actionmenuBarberShop .texture-index {
    color: white;
    font-size: .875rem;
    position: absolute;
    font-weight: 600;
}

#actionmenuBarberShop .item-color:hover,
#actionmenuBarberShop .item-color-active {
    background: #333333 !important
}



#actionmenuBarberShop .container .container-select-right .active, .container .textures .active, #actionmenuBarberShop .activeSkinShop  {
    background: url(https://cdn.discordapp.com/attachments/904876261661351977/993712313121116160/CONTORNO.png);
    background-size: cover;
    z-index: 999;
    border: solid 1px #DC3421 !important;
}

#actionmenuBarberShop .finalizar-container {
    width: 100%;
    height: 88%;
    position: relative;
    /* top: .3rem; */
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #464545;
    justify-content: center;
    color: white;
}

#actionmenuBarberShop .finalizar-container span {
    color: var(--main-color);
    filter: grayscale(1);
    text-align: center;
    font-size: .8rem;
    text-shadow: 0rem 0.3125rem 1.25rem #f02e2e40;
    margin-left: 1.25rem;
}

#actionmenuBarberShop .finalizar-container h2 span {
    color: var(--main-color) !important;
    font-size: 1.2rem;
    filter: none;
    position: relative;
    top: .8rem;
}

#actionmenuBarberShop .finalizar-container h2 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    display: flex;
    position: relative;
    bottom: .5rem;
}

#actionmenuBarberShop .finalizar-container .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    position: relative;
    bottom: .75rem;
}

#actionmenuBarberShop .finalizar-container .buy-btn {
    background: var(--main-color);
    color: #fff;
    padding: .3rem .5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: .5rem;
    font-size: .8rem;
}

#actionmenuBarberShop .finalizar-container .voltar-btn {
    background: #464545;
    color: #2B2B2B;
    padding: .3rem .5rem;
    border-radius: .5rem;
}

#actionmenuBarberShop .select .active{
    filter: grayscale(0) !important;
}

.select {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.select::-webkit-scrollbar {
    display: none;
  }

.menu-container h1 {
    color: #F02E2E;
}

.test {
    position: absolute;
    right: 40px;
    height: 400px;
    width: 300px;
    top: 40px;
    overflow-y: scroll;
    padding-right: 20px;
}

.test div {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background: red;
}

.input-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    right: 1.4rem;
}

.search-input {
    width: 180px;
    height: 25px;
    border-radius: 100px;
    outline: none;
    border: none;
    background: #272727;
    padding: 0px 15px;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-left: 30px;
}


.search-input::placeholder {
    color: rgba(255, 255, 255, 0.415);
    letter-spacing: 5px;
}

.input-container i {
    position:relative;
    right: -20px !important;
    color: rgba(255, 255, 255, 0.54) !important;
}

.branco {
    color: white !important;
}

#corBarberShop{
    display: flex;
}

#corBarberShop .color{
    width: .6vw;
    height: .6vw;
    margin-left: .1vw;
}

 .coluna-contentBarberShop{
    display: flex;
    max-width: 10vw;
    flex-wrap: wrap;
    position: relative;
    bottom: .8vw;
}

.colunaBarberShop span{
    position: relative;
    bottom: 1vw;
    color: #fff;
    color: rgba(255, 255, 255, 0.415);
}

.colunaBarberShop{
    margin-top: .3vw;
}

@media(max-width: 1100px) {
    #actionmenuBarberShop * {
        transform: scale(0.9);
    }
    #actionmenuBarberShop .container {
        position: relative;
        right: 15vw
    }
    .container-select-right{
        position: relative;
        right: 7vw;
    }
}