table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    border: none;
    outline: none;
}

.screen-spawnmap {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.leaflet-control-attribution {
    display: none;
}

.modal-spawnmap {
    position: absolute;
    display: flex;
    width: 400px;
    padding: 16px;
    flex-direction: column;
    z-index: 800;
    background-color: #153e6a;
    border-radius: 5px;
    color: #fff;
    gap:16px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    animation: ScaleUp 0.5s;
    display: none;
}

.modal-spawnmap> h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.modal-spawnmap> p > span {
    font-weight: 800;
}

.modal-buttons-spawnmap {
    display: flex;
    gap: 10px;
}

.modal-buttons-spawnmap > button {
    width: 100%;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s;
    backface-visibility: hidden;
}

.modal-buttons-spawnmap > button:hover {
    transform: scale(1.05);
}

.modal-buttons-spawnmap > button:nth-child(1) {
    background-color: #ca0000;
}

.modal-buttons-spawnmap > button:nth-child(2) {
    background-color: #0075DE;
}

.modal-buttons-spawnmap > button:nth-child(2):hover {
    background-color: #0160b4;
}

.modal-buttons-spawnmap > button:nth-child(1):hover {
    background-color: rgb(161, 0, 0);
}

#map-spawnmap img {
    max-height: none;
}

#map-spawnmap {
    height: 90vh;
    width: 90vw;
    background-color:#153e6a;
    border-radius: 5px;
}

@keyframes ScaleUp {
    0% { transform: scale3d(0.96,0.96,1); }
    20% { transform: scale3d(1.1,1.1,1); }
    40% { transform: scale3d(0.98,0.98,1); }
    60% { transform: scale3d(1.05,1.05,1); }
    80% { transform: scale3d(1.01,1.01,1); }
    100% { transform: scale3d(1,1,1); }
}